<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="js/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    </style>

</head>

<body>

    <div id="wrapper">


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Results</h1>
                    <a href="/"> Back to home </a>
                </div>
                <br>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Line Chart
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            	<div style="width:90%;">
                                        <canvas id="graficaCancer1"></canvas>
                                    </div>
                                    <div id="loader">
                                    <div class="loader">
                                    </div>
                                    <h3> Model is beign processed </h3>
                                    </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

                                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        Policy costs                        
                    </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                                <div style="width:90%;">
                                        <canvas id="graficaCostos"></canvas>
                                    </div>
                                     <div id="loader2">
                                    <div class="loader">
                                    </div>
                                    <h3> Model is beign processed </h3>
                                    </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

            </div>            



                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/metisMenu.min.js"></script>

    <!-- Flot Charts JavaScript -->
    <script src="js/Chart.js"></script>
    <script src="js/util.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>
    <script src="js/jquery.csv.min.js"></script>

    <script>

        

		var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var dataGraph = {
			type: 'line',
			data: {
				labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
				datasets: [{
                    label: 'My First dataset',
                    fill: false,
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: [
						10,
						20,
						30,
						100,
						120,
						50,
						50
					],
					fill: false,
				}, {
					label: 'My Second dataset',
					fill: false,
					backgroundColor: window.chartColors.blue,
					borderColor: window.chartColors.blue,
					data: [
						-3,
						33,
						34,
						35,
						36,
						36,
						36
					],
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart.js Line Chart'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
			}
		};

        function findGetParameter(parameterName) {
    var result = null,
        tmp = [];
    location.search
        .substr(1)
        .split("&")
        .forEach(function (item) {
          tmp = item.split("=");
          if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
        });
    return result;
}

var route;

		window.onload = function() {

            route = "http://localhost:5000/generated/"+findGetParameter("fileName");
            //route = "https://dcsolano10.github.io/datasetCancer/resultados.csv";
            requestGraphs();
            requestBarGraph();
			//var ctx = document.getElementById('graficaCancer1').getContext('2d');
            //window.myLine = new Chart(ctx, dataGraph);
            


        };

        function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function demo() {
  console.log('Taking a break...');
  await sleep(10000);
      requestGraphs();
      requestBarGraph();
  console.log('Two second later');
}

function requestBarGraph()
{
    route2 = "http://localhost:5000/generated/bar_"+findGetParameter("fileName");
       $.ajax({
  type: 'GET',
  url: route2,
  success: function(resp) {
    var objects = $.csv.toObjects(resp);
    console.log(objects[0]);

    var newData = {
        labels: ["Total cost","Total vaccination cost", "Total Primary Test cost", "Total triage cost", "Total Follow Up cost"],
        datasets: [{
            label: 'Cost in thousands of millions of pesos',
            data: [objects[0].x, objects[1].x, objects[2].x, objects[3].x, objects[4].x],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    }
    document.getElementById('loader2').style.display = "none";
    var ctx = document.getElementById("graficaCostos").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: newData,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
      
  },
  error: function() {
    console.log("erroru")
  }
});
}



        function requestGraphs ()
        {
                                    $.ajax({
  type: 'GET',
  url: route,
  success: function(resp) {
    var objects = $.csv.toObjects(resp);
    console.log(objects[0]);

    var iDatasets = {};
    var finalLabels = [];
    var finalDatasets = [];

        var COLORS = [
        '#4dc9f6',
        '#f67019',
        '#f53794',
        '#537bc4',
        '#acc236',
        '#166a8f',
        '#00a950',
        '#58595b',
        '#8549ba',
        '#f2189e',
        '#17f122',
        '#edc687'
    ];
    var colorIndex = 0;
    for (let i = 0; i < objects.length; i++) {
        var row = objects[i];
        var key = row.Biological_Comp+"_"+row.Gender;

        if(!iDatasets[key])
        {   
            iDatasets[key] = {label: key, data:[], fill:false, backgroundColor:COLORS[colorIndex], borderColor:COLORS[colorIndex]};
            colorIndex += 1;
        }
        iDatasets[key].data.push(row.Value);
        
    }
    console.log(iDatasets);

    for (let j = 1; j < 31; j++) {
        finalLabels.push(j);
    }

    for (var key in iDatasets) {
        finalDatasets.push(iDatasets[key]);
    }


    var finalData = {type: 'line', data:{labels:finalLabels, datasets:finalDatasets} };

    console.log(finalData);
    document.getElementById('loader').style.display = "none";
    var ctx = document.getElementById('graficaCancer1').getContext('2d');
            window.myLine = new Chart(ctx, finalData);
      
  },
  error: function() {
    demo();
    console.log('requested');

  }
});
        }
        
        

        var colorNames = Object.keys(window.chartColors);
        

	</script>
    <canvas id="myChart" width="400" height="400"></canvas>
<script>

</script>

</body>

</html>
